html{
  scroll-behavior: smooth;
}
body{
  background: #151515;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
body,html{
  height:100%
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.glow {
  box-shadow:0px 0px 5px 10px #151515;
}
.devider{
  height:125px;
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}
.section { 
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.parallax {
  left: -10px;
  height: 60vh;
  width: 100vw;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.sticky{
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto
  z-index:99
  transition: 2s;
  width: 100vw;
  top: 10vh;
}
#navbar {
  background-color: #151515;
  position: fixed;
  top: 0;
  left: -1px;
  width: 100%;
  transition: top 0.3s;
  z-index:99;
}
.left {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}
.left:hover {
  background-color: #ffffff;
  color: #000000;
}
.right {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}
.right:hover {
  background-color: #ffffff;
  color: #000000;
}
img.inverted {
  filter: invert(100%);
}
img.inverted:hover {
  filter: invert(0%)
}
