html{
  scroll-behavior: smooth;
}
body{
  background: #151515;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color:white;
  max-width:100vw;
}
body::-webkit-scrollbar {
  display: none;
}
body,html{
  height:100%
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100vw;
}
p{
  font-size:17px;
}
h1{
  font-size:70px;
}
h2{
  font-size:30px;
}
a{
  font-size:17px;
}
a:not(.navbarItem):link {
  color: #d04135;
}
a:not(.navbarItem):visited {
  color: #d04135;
}
a:not(.navbarItem):hover {
  color: #e6b74f;
}
a:not(.navbarItem):active {
  color: #e6b74f;
}
.glow {
  box-shadow:0px 0px 5px 10px #151515;
}
.extra-large-devider{
  height:165px;
}
.large-devider{
  height:125px;
}
.medium-devider{
  height:85px;
}
.small-devider{
  height:45px;
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}
.section { 
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.parallax {
  left: -10px;
  height: 55vh;
  width: 100vw;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.sticky{
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto
  z-index:99
  transition: 2s;
  width: 100vw;
  top: 10vh;
}
#navbar {
  background-color: #151515;
  position: fixed;
  top: 0;
  left: -1px;
  width: 100%;
  height: 50px;
  transition: top 0.3s;
  z-index:99;
}
.navbarItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 17px;
  height 50px;
}
.left {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.left:hover {
  background-color: #ffffff;
  color: #000000;
}
.right {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.right:hover {
  background-color: #ffffff;
  color: #000000;
}
img.inverted {
  filter: invert(100%);
}
img.inverted:hover {
  filter: invert(0%)
}
.arrow {
  background-color: #151515;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
